@import "@styles/_variables";

.Button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none; 
  cursor: pointer;

  &_primary,
  &_secondary {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(18 / 14);
    width: 100%;

    &:hover {
      opacity: 0.8;
    }

    @media (min-width: $media-tablet) {
      font-size: 18px;
    }
  }

  &_primary {
    background-color: $color-bg_2;
    color: $color-text_2;
  }  

  &_secondary {
    background-color: inherit;
    color: inherit;
    border: 1px solid $color-bg_3;
  }

  &_disabled {
    background-color: $color-bg_5;
  }
}