@font-face {
  font-family: "Eudoxus Sans";
  src:
    url("./../assets/fonts/EudoxusSans-Medium.woff2") format("woff2"),
    url("./../assets/fonts/EudoxusSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src:
    url("./../assets/fonts/EudoxusSans-Bold.woff2") format("woff2"),
    url("./../assets/fonts/EudoxusSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}