$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-base-family: "Eudoxus Sans", $font-family;

$font-base-size: 18px;

$media-mobile: 375px;
$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;

$color-bg_1: #fff;
$color-bg_2: #518581;
$color-bg_3: #f3f3f3;
$color-bg_4: #151411;
$color-bg_5: #d9d9d9;
$color-text_1: #151411;
$color-text_2: #fff;
$color-text_3: #afadb5;
$color-text_4: #518581;
